.interactive-tooltip {
    display: flex;
    flex-direction: column;
    visibility: visible !important;
    pointer-events: all;
    border: 1px solid darkgrey;
    border-radius: 4px;
    background-color: cornsilk;
    width: 250px;
}

.interactive-tooltip__content {
    padding: 0 12px 12px 12px;
}

.interactive-tooltip__close-button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
}

.interactive-tooltip__close-button {
    cursor: pointer;
    color: darkgrey;
}

.interactive-tooltip__close-button:hover {
    color: grey;
}

.interactive-tooltip__close-button:active {
    color: dimgrey;
}

.interactive-tooltip__comment-count {
    font-weight: bold;
    margin-bottom: 8px;
}
