.interactive-tooltip {
    display: flex;
    flex-direction: column;
    gap: 8px;
    visibility: visible !important;
    pointer-events: all;
    border: 1px solid darkgrey;
    border-radius: 4px;
    background-color: cornsilk;
    padding: 12px;
}
