.clickable-dot {
    cursor: pointer;
    stroke: #8884d8;
    fill: #8884d8;
    r: 4px;
    transition: r 0.2s;
}

.clickable-dot:hover,
.clickable-dot--focused {
    r: 8px;
}

.clickable-dot__comment-count {
    text-anchor: middle;
}
